# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual Environment
.venv/

# IDE
.idea/
.vscode/

# Notebooks
notebooks/# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual Environment
.venv/

# IDE
.idea/
.vscode/

# Development
development/